* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  transition: all 0.5s ease;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: #787878;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100vh;
  background-color: #787878;
  width: 100%;
  display: flex;

  align-items: center;
  justify-content: center;
}

.main_area {
  background-color: #ada5a5;
  box-shadow: 5px 5px 20px black;
  height: 80vh;
  padding: 1rem 2rem;
  width: 70%;
}
.name {
  display: flex;
}
h3 {
  font-size: 1.5rem;
  margin: 0 0.5rem;
}
.name_logo {
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.658);
  color: gray;
  padding: 0.1rem 0.5rem;
  border-radius: 50%;
}
a {
  text-decoration: none;
  color: black;
}
.hover {
  display: block;
  width: 0%;
  margin-left: 0.5rem;
  background-color: black;
  height: 0.5vh;
}
.hver:hover .hover {
  width: 90%;
}
ul {
  display: flex;
}
li{
    list-style: none;
    padding: 0.2rem 0.5rem;
    font-weight: bold;
    font-size: 1.5rem;
}
nav{
    display: flex;
    justify-content: space-between;
}

.common{
    display: block;
    height: 0.5vh;
    width: 0%;
    margin-left: 0.5rem;
    background-color:black;

}
.home:hover .home_hover{
    width: 80%;
}

.about:hover .about_hover{
    width : 82%;
}
.contact:hover .contact_hover{
    width: 87%;
}
.port:hover .port_hover{
    width: 90%;
}
.main_container{
    display: flex;
   
    height: 50vh;
}
.txtarea{
    width : 100%;
    margin-top: 7rem;
    margin-left: 4rem;
}
.txt{
    display: block;

    font-size: 1.2rem;
    margin-left: 1rem;
}
img{
    width: 90%;
    height:55vh;
}

.picture{
    width: 73%;
    margin-top: 2rem;
    border-bottom: 6px solid black;
    border-right: 6px solid black;
    height: 60vh;
    
}
i{
    color : white;
    background-color: rgba(0, 0, 0, 0.514);
    
}
i:hover{
    transition: all 0.3s ease;

    border-radius: 0.5rem;
}

button{
  padding: 0.2rem 0.8rem;
  background: transparent;
  cursor: pointer;
  border: 2px solid black;
  color : black;
  border-radius: 0.5rem;
}
.make_a_link{
  color : blue;
  text-decoration: underline;
}

button:hover{
  border: 2px solid white;
  color : white;
  scale : 1.1;
  box-shadow: 5px 5px 20px white;
}
form{
  position: absolute;
  display: none;
  top : 20vh;
  left : 30%;
  background-color: white;
  box-shadow: 5px 5px 20px black;
  padding: 1rem 2rem;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 1rem;
  height: 50vh;
  width : 40%;
}
button:active{
  scale : 0.8;
}
i:active{
    scale : 0.8;
}
.fa-facebook-f{
    padding: 0.5rem 0.53em;
}
.fa-instagram{
    padding: 0.5rem 0.6rem;
}
.fa-linkedin-in{
    padding: 0.5rem 0.65rem;
}
.menus{
    width: 20%;
    
}
.block{
    display: block;
    margin-top: 6rem;
}
.animation{
  animation: form 2s 1;
}

@keyframes form{
  0%{
    opacity: 0;
    scale : 0;
  }
  50%{
    opacity: 0.5;
    
  }
  100%{
    opacity: 1;
    scale : 1;
  }
}
.button{
  margin : 0.5rem 6rem;
}
#close:hover{
  border: 2px solid black;
  color : black;
 
}
.close{
  display: flex;
  justify-content: space-between;
}